.form {
  display: flex;
  flex-direction: column;
}

.form_lable {
  display: inherit;
  flex-direction: inherit;
  gap: 10px;

  margin-bottom: 10px;
}

.btn_submit {
  width: 100px;
  padding: 10px;
  display: block;
}
